name: tests & formatting
on: 
  push:
  pull_request:
    types: [opened]  
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
          components: rustfmt, clippy
      - run: cargo fmt -- --check && cargo clippy -- -Dwarnings && cargo test
