name: tests & formatting
on: 
  push:
  pull_request:
    types: [opened]
concurrency:
  group: ${{ github.workflow }}-${{ github.ref_protected && github.run_id || github.event.pull_request.number || github.ref }}
  cancel-in-progress: true
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: stable
          components: rustfmt, clippy
      - run: cargo fmt -- --check && cargo clippy --all-features -- -Dwarnings && cargo test --all-features
